.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-color: #000000;
  background-image: url(../../../images/edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  /* В макете видно, что отступ сверху есть, но нет значений. Прикидывала на глаз, ориентируясь на текст имени*/
  margin-top: 16px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__edit-button:focus {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 36px 0 0 10px;
    background-size: 7.5px;
  }
}
