.edit-form__input {
    padding: 13px 0;
    margin: 17px 0 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    font-style: normal;
    border: none;
    border-bottom: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
