/* Если смотреть на макет, то 3px -- разница между font-size и line-height -- размещаются между числом и кнопкой лайка
Но у меня не получается так сделать: эти 3px равномерно распределяются вокруг числа. Я попробовала поискать, можно ли с этим что-то сделать, но, к сожалению, ничего не нашла. Кажется, это нормальное поведение для line-height. А если задавать margin / padding, то сам контейнер вместо 35px будет больше. */
.photos__like-counter {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
