.form__header {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-style: normal;
  color: black;
  padding: 0 0 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .form__header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 45px;
  }
}
