.photos__like-button {
  width: 22px;
  height: 19px;
  box-sizing: border-box;
  background-image: url(../../../images/like-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.photos__like-button:hover {
  opacity: 0.5;
}

.photos__like-button:focus {
  opacity: 0.5;
}
