.error-container {
  width: 430px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 767px) {
  .error-container {
    width: 282px;
    padding: 25px 22px;
  }
}
