.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 0 38px 48px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 19px 36px;
  }
}
