.photos__delete-button {
  width: 18px;
  height: 19.3px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  /*На черно-белой картинке корзина теряется. Например, если добавить https://images.unsplash.com/photo-1564128269289-a4ee104202ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 ,то там на фоне неба ее вообще не видно. Но что с этим делать, по макету не понятно*/
  background-image: url(../../../images/delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: unset;
  position: absolute;
  top: 20px;
  left: 250px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.photos__delete-button:hover {
  opacity: 0.6;
}

.photos__delete-button:focus {
  opacity: 0.6;
}
